/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#logo {
    position: absolute;
    top: 10px;  /* Corrected */
    left: 10px; /* Corrected */
}

#logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Header Styles */
header {
    background-color: #860037; /* Dark red */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;  /* Ensure the logo stays inside the header */
}

/* Main Section Styles */
main {
    margin: 20px;
}

section {
    margin-bottom: 30px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

/* Footer Styles */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
